<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\GraphQl\Controller\HttpHeaderProcessor\ContentTypeProcessor">
        <plugin sortOrder="1" name="adexosGraphqlCorsContentTypeProcessor" type="Adexos\GraphqlCors\Plugin\Controller\HttpHeaderProcessor\ContentTypeProcessorPlugin"/>
    </type>
    <preference for="Magento\GraphQl\Controller\GraphQl" type="Adexos\GraphqlCors\Controller\GraphQl"></preference>
</config>
